.quest-details {
  flex: 1;
  background: #111;
  border: 1px solid #444;
  padding: 10px;
}

.trader-header {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.quest-title a:hover {
  text-decoration: underline;
}

img[src=""] {
  display: none;
}

.heading-section {
  flex: 1;
}

.trader-header img {
  width: 80px;
  height: auto;
  object-fit: cover;
  border: 1px solid #333;
}

.kappa-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

.kappa-indicator, .lightkeeper-indicator {
  font-weight: bold;
  font-size: 1.2rem;
}

.kappa-yes  {
  color: lime;
}

.lk-yes {
  color: 	#0ff;
}

.kappa-no, .lk-no{
  color: red;
}

.kappa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;  
}

.kappa-container span {
  display: inline-block;
}

.kappa-row {
  display: flex;
  gap: 6px;
  align-items: center;
}



.quest-details h2 {
  margin: 5px 0 5px 0;
  font-size: 1.4rem;
}

.quest-objective a,
.quest-reward a,
.quest-title a {
  text-decoration: none;
  color: #0f9;
}

.quest-objective-container {
  flex: 65%;
  background: #111;
  border: 1px solid #444;
  padding-left: 10px;
  padding-bottom: 10px;

  border-radius: 5px;
  min-width: 0;
}

.quest-reward-container {
  flex: auto;
  background: #111;
  border: 1px solid #444;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  min-width: 0;
}

.quest-objective-container h3,
.quest-reward-container h3 {
  color: #0f9;
  margin-bottom: 5px;
}

.quest-info-container {
  display: flex;
  gap: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  min-width: none;
}

.item-tooltip-wrapper {
  position: relative;
  cursor: pointer;
}

.item-tooltip {
  display: none;
  position: absolute;
  background: #111;
  color: #0f9;
  padding: 8px;
  border: 1px solid #0f9;
  border-radius: 6px;
  font-size: 0.8em;
  white-space: nowrap;
  top: 110%;
  left: 0;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.item-tooltip img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  display: block;
  margin-bottom: 4px;
}

.item-tooltip-wrapper:hover .item-tooltip {
  display: block;
}